doctype html
html(lang='es')
  
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')   
    meta(name='description', content='')   
    meta(name='author', content='')
    link(rel='icon', href='/img/Logo Integral Andina.png')   
    title Signin 
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/signin.css', rel='stylesheet')
  
  body.text-center 
    form.form-signin(action='/session' method='POST')
      img.mb-4(src='/img/Logo Integral Andina.png', alt='', width='200', height='200')    
      h1.h3.mb-3.font-weight-normal Ingrese sus datos     
      label.sr-only(for='inputEmail') Usuario         
      input#user.form-control(type='text', name='correo' placeholder='Correo Electronico', required='', autofocus='')     
      label.sr-only(for='inputPassword') Password     
      input#inputPass.form-control(type='password', name='password' placeholder='Contrasena', required='')     
      .checkbox.mb-3
      label
          input(type='checkbox', value='remember-me') 
          | Recuerdame  
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in   
    
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')